:root{
    --primary-background-color: #232323cc;
    --second-background-color: #3b3b3bda;
    --btn-hover-color: #5a5a5ab2;
    --primary-outline: #6d6d6d;
    --font-color: #fff;
    --btn-color: rgb(56, 121, 207);
}