:root{
    --primary-background-color: #232323;
    --second-background-color: #2b2b2bc5;
    --btn-hover-color: #38383898;
    --primary-outline: #6d6d6d;
    --font-color: #fff;
    --btn-color: rgb(31, 78, 230);
    --message-success-font: #44ee6c;
    --message-success-background: #10fc4727;
    --message-error-font: #ff394c;
    --message-error-background: #f8334741;
    --message-warning-font: #ffc107;
    --message-warning-background: #ffc1072d;
    --message-info-font: #0fcce9;
    --message-info-background: #16defd41;
    --input-background: rgba(22, 22, 22, 0.733);
    --theme-color: #6192fd;
}