@import url('https://fonts.googleapis.com/css2?family=Kings&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

body{
    font-family: "Noto Sans", sans-serif;
    background-image: url(../wallhaven-p2v1vp.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
}

h3{
    font-family: "Kings", cursive;
    margin: 0;
    font-size: 35px;
}

nav{
    background-color: var(--second-background-color);
    height: fit-content;
    width: 100%;
    padding: 10px 20px;
}

.sidebar{
    height: 100%;
    width: fit-content;
    background-color: var(--second-background-color);
    display: flex;
    flex-direction: column;
}

.toolbtn, .toolbtnX{
    padding: 20px;
    font-family: "Noto Sans", sans-serif;
    cursor: pointer;
}

.toolbtn:hover{
    background-color: var(--btn-hover-color);
}

.active{
    background-image: linear-gradient(129deg, #dbb1d4, #9781e4, #7190f3);
}

.active:hover{
    background-image: linear-gradient(129deg, #ddb5d6, #8b78d1, #657fd3);
}

iframe{
    width: calc(100% - 218px);
    height: 100%;
}

.signout{
    background-image: linear-gradient(129deg, #e4cdcd,#f37171);
    margin-top: auto; 
    color: var(--font-color) !important;
}

.signout:hover{
    background-image: linear-gradient(129deg, #ddc5c5,#df7171);
}

a{
    text-decoration: none;
}

.signout:visited{
    color: var(--font-color) !important;
}

.main{
    display: flex;
    flex: 1 2 auto;
}