<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory System</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/colors.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/commomPage.css')}}">
</head>

<body>
    <h1>[OK]Dashboard \\</h1>
    <form action="{{url_for('update_account', type=" username")}}" method="post" data-fname="Account Information">
        <div class="fill_column">
            <label for="username">User Name: </label>
            <input type="text" name="username" id="username" required>
        </div>
        <button type="submit">Save Change</button>
    </form>
    <form action="{{url_for('update_account', type=" password")}}" method="post" data-fname="Account Security" onsubmit="return validateForm()" id="AcSecureForm">
        <div class="fill_column">
            <label for="password_old">Old Password: </label>
            <input type="password" name="password_old" id="password_old" required>
        </div>
        <div class="fill_column">
            <label for="password">New Password: </label>
            <input type="password" name="password" id="password" required>
        </div>
        <div class="fill_column">
            <label for="password_confirm">Confirm Password: </label>
            <input type="password" name="password_confirm" id="password_confirm" required>
        </div>
        <p id="password_hint"></p>
        <button type="submit">Save Change</button>
        <p style="color: rgb(255, 85, 85); margin: 0;"><a href="">Delete My Account</a></p>
    </form>
    <div class="snapNoti">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{% autoescape false %}{{ message }}{% endautoescape %}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <script>
        function validateForm() {
            const newPassword = document.getElementById("password").value;
            const confirmPassword = document.getElementById("password_confirm").value;
            if (newPassword != '' && confirmPassword != ''){
                if (newPassword == confirmPassword) {
                    return true;
                } else {
                    return false;
                }
            } else {
                return false;
            }
        }
        document.addEventListener("DOMContentLoaded", function() {
            const flashes = document.querySelectorAll('.flashes li');
            flashes.forEach((flash) => {
                flash.classList.add('show');
                setTimeout(() => {
                    flash.remove();
                }, 5000);
            });
        });
    </script>
</body>
</html>