<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory System</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/colors.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/commomPage.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <h1><span class="material-symbols-outlined headline-icon">file_save</span>Export Data</h1>
    <form action="{{url_for('export')}}" method="post" data-fname="Conteol Zone">
        <p class="remind">* When you request and export the data, it is saved in this system, but you can also download the data to your computer if you want to refer to it</p>
        <p class="remind">* Only one data can be exported per day, otherwise the system will automatically replace the exported data with the updated version</p>
        <button type="submit"><span class="material-symbols-outlined btn-icon">file_export</span>Request to export</button>
    </form>
    <div class="output" data-fname="Files Manager">
        <p>export/</p>
        {% for data in exportData %}
        <a href="{{url_for('downloadAttch', file_name=data)}}"><p style="margin-left: 10px;">|__ {{data}}</p></a>
        {% endfor %}
    </div>
    <div class="snapNoti">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}" style="color: var(--font-color);">{% autoescape false %}{{ message }}{% endautoescape %}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <script>
        document.addEventListener("contextmenu", function(event) {
            event.preventDefault();
        });
    </script>
</body>
</html>