<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory System</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/colors.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/commomPage.css')}}">
</head>
<body>
    <h1>Export Data \\</h1>
    <form action="" method="post" data-fname="Conteol Zone">
        <p class="remind">* After request and data exported, you need to download rquire file by your self.</p>
        <button type="submit">Request to export</button>
    </form>
</body>
</html>