<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory System</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/colors.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/commomPage.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
</head>
<body>
    <h1><span class="material-symbols-outlined headline-icon">contract_edit</span>Inventory Management</h1>
    <form action="{{url_for('manageInventory', type="add")}}" method="post" data-fname="Add Item">
        <div class="fill_column">
            <label for="product_code">Product ID: </label>
            <input type="text" name="product_code" id="product_code" required>
        </div>
        <div class="fill_column">
            <label for="product_name">Product Name: </label>
            <input type="text" name="product_name" id="product_name" required>
        </div>
        <div class="fill_column">
            <label for="product_quantity">Quantity: </label>
            <input type="number" name="product_quantity" id="product_quantity" min="0" required>
        </div>
        <div class="fill_column">
            <label for="product_price">Price(HKD): </label>
            <input type="number" name="product_price" id="product_price" min="0" step="0.1" required>
        </div>
        <button type="submit"><span class="material-symbols-outlined btn-icon">add</span>Add</button>
    </form>
    <form action="{{url_for('manageInventory', type="remove")}}" method="post" data-fname="Remove Item">
        <div class="fill_column">
            <label for="product_remove">Product: </label>
            <select name="product_remove" id="product_remove" required>
                <option value="">---Select a product---</option>
                {% for item in inventory_data %}
                    <option value="{{item[0]}}">{{item[0]}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit"><span class="material-symbols-outlined btn-icon">delete</span>Remove</button>
    </form>
    <form action="{{url_for('manageInventory', type="update")}}" method="post" data-fname="Modify Item Information">
        <div class="fill_column">
            <label for="product_code">Product: </label>
            <select name="product_code" id="product_code" required>
                <option value="">---Select a product---</option>
                {% for item in inventory_data %}
                    <option value="{{item[0]}}">{{item[0]}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="fill_column">
            <label for="">Type: </label>
            <div style="margin-right: 5px;">
                <input type="radio" name="product_type" value="name" checked>
                <label for="product_name">Name</label>
            </div>
            <div>
                <input type="radio" name="product_type" value="quantity">
                <label for="product_quantity">Quantity</label>
            </div>
            <div>
                <input type="radio" name="product_type" value="price">
                <label for="product_price">Price</label>
            </div>
        </div>
        <div class="fill_column">
            <label for="product_data" id="product_data_lable" style="text-transform: capitalize;">Name: </label>
            <input type="text" name="product_data" id="product_data" required>
        </div>
        <button type="submit"><span class="material-symbols-outlined btn-icon">update</span>Update</button>
    </form>
    <div class="snapNoti">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{% autoescape false %}{{ message }}{% endautoescape %}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <script>
        const radioInputs = document.querySelectorAll('input[type="radio"]');
        const product_data = document.getElementById("product_data");
        radioInputs.forEach(input => {
            input.addEventListener('change', (e) => {
                document.getElementById("product_data_lable").innerText = `${e.target.value}: `;
                if (e.target.value == "quantity" || e.target.value == "price"){
                    product_data.type = "number";
                    product_data.min = "0";
                    if(e.target.value == "price"){
                        product_data.step = "0.1";
                    }
                }else{
                    product_data.type = "text";
                    product_data.removeAttribute("min");
                    product_data.removeAttribute("step");
                }
            });
        });
        
        document.addEventListener("contextmenu", function(event) {
            event.preventDefault();
        });
    </script>
</body>
</html>