<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory System | {{version}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/colors.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <nav>
        <h3><div class="brand">Paperboat<br><div style="margin-left: 50px;">Stationary</div></div>Welcome back, {{username}}! </h3>
        <a href="{{url_for('signout')}}" class="signout" title="Signout"><span class="material-symbols-outlined">logout</span></a>
    </nav>
    <div class="inventoryAlert" id="inventoryAlert">
        <div class="main_alert">
            <div id="low_quantity_announce"></div>
        </div>
    </div>
    <div class="main">
        <div class="sidebar">
            <div class="toolbtn active" data-page="/iManagement">Inventory Management</div>
            <div class="toolbtn" data-page="/iView">View Inventory</div>
            <div class="toolbtn" data-page="/search">Search</div>
            <div class="toolbtn" data-page="/export">Export Data</div>
            <div class="toolbtn" data-page="/dashboard">My Dashboard</div>
            {% if from_admin %}
            <div class="toolbtn" data-page="/admin">Admin Panel</div>
            {% endif %}
        </div>
        <iframe src="/iManagement" frameborder="0" id="mainFrame"></iframe>
    </div>
    <div class="snapNoti" id="snapNoti">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{% autoescape false %}{{ message }}{% endautoescape %}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <script>
        function checkInventory() {
            const wrapper = document.getElementById("inventoryAlert")
            const messageWrapper = document.getElementById("low_quantity_announce");
            fetch("static/low_inventory.json")
                .then((response) => response.json())
                .then((data) => {
                    if (Object.keys(data).length > 0) {
                    const message = data.join(", ");
                        wrapper.style.display = "flex";
                        messageWrapper.innerText = `[Inventory Monitor] Low Quantity Items: ${message}`;
                    } else {
                        wrapper.style.display = "none";
                        messageWrapper.innerText = ``;
                    }
                })
        }

        window.onload = function() {
            var peremeter = "{{ re_dir }}";
            if (peremeter) {
                document.getElementById("mainFrame").src = '/' + peremeter;

                document.querySelectorAll('.toolbtn').forEach(btn => {
                    btn.classList.remove("active");
                });

                document.querySelectorAll('.toolbtn').forEach(btn => {
                    if (btn.getAttribute("data-page") == ('/' + peremeter)){
                        btn.classList.add("active");
                    }
                }); 
            }
            checkInventory()
        }

        document.querySelectorAll('.toolbtn').forEach((button) => {
            button.addEventListener('click', () => {
                document.querySelectorAll('.toolbtn').forEach(btn => {
                    btn.classList.remove("active");
                });
                button.classList.add("active");
                document.getElementById("mainFrame").src = button.getAttribute("data-page");
            });

            button.addEventListener('mousedown', function(e) {
                const ripple = document.createElement('span');
                const rect = button.getBoundingClientRect();
                const size = Math.max(rect.width, rect.height);
                const x = e.clientX - rect.left - size / 2;
                const y = e.clientY - rect.top - size / 2;

                ripple.style.width = ripple.style.height = `${size}px`;
                ripple.style.left = `${x}px`;
                ripple.style.top = `${y}px`;
                ripple.classList.add('ripple');

                button.appendChild(ripple);
            });
        });

        document.addEventListener("contextmenu", function(event) {
            event.preventDefault();
        });

        setInterval(() => {
            checkInventory()
        }, 600000);
    </script>
</body>
</html>