<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory System | {{version}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/colors.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
</head>
<body>
    <div class="main">
        <h1>Login</h1>
        <form action="{{url_for('login')}}" method="post">
            <input type="text" name="username" id="username" placeholder="User Name">
            <input type="password" name="password" id="password" placeholder="Password">
            <button type="submit">Submit</button>
        </form>
        <p>Don't have an account yet? <a href="{{url_for('signup')}}">Create account</a></p>
    </div>
    <div class="snapNoti">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{% autoescape false %}{{ message }}{% endautoescape %}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>