<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory System | {{version}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/colors.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div class="main">
        <div class="brand">Paperboat<br> Stationary<div class="panel">Panel</div></div>
        <p class="remind">Welcome to the inventory system with WebUI(Panel)</p>
        <p class="remind" style="margin-bottom: 5px;">(This program should be still work with CLI version)</p>
        <form action="{{url_for('login')}}" method="post">
            <input type="text" name="username" id="username" placeholder="User Name">
            <input type="password" name="password" id="password" placeholder="Password">
            <button type="submit">Submit</button>
        </form>
        <p>Don't have an account yet? <a href="{{url_for('signup')}}">Create account</a></p>
        <p class="remind" style="display: flex; align-items: center;"><span class="material-symbols-outlined" style="font-size: 12px; margin-right: 2px; color: rgba(80, 243, 65, 0.788);">security</span>Protected with our integrity system</p>
    </div>
    <div class="snapNoti">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{% autoescape false %}{{ message }}{% endautoescape %}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <p class="version">{{version}}_via_deployment_server</p>
    <script>
        document.addEventListener("contextmenu", function(event) {
            event.preventDefault();
        });
    </script>
</body>
</html>