<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory System</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/colors.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/commomPage.css')}}">
</head>
<body>
    <h1>Search \\</h1>
    <form action="{{url_for('search')}}" method="post" data-fname="Search Engin">
        <div class="fill_column">
            <label for="product_search">Product: </label>
            <input type="text" name="product_search" id="product_search" required>
        </div>
        <button type="submit">Submit</button>
    </form>
    <div class="output" data-fname="Output">
        {% if inventory_data %}
            <table>
                <thead>
                    <tr>
                        {% if inventory_data %}
                            <th>Product Code</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Price(HKD)</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in inventory_data %}
                        <tr>
                            <td>{{ item[0] }}</td>
                            <td>{{ item[1] }}</td>
                            <td>{{ item[2] }}</td>
                            <td>${{ item[3] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% elif inventory_data == False %}
            <h3>Not Found</h3>
        {% endif %}
    </div>
</body>
</html>