<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory System</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/colors.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/commomPage.css')}}">
</head>
<body>
    <h1>Search \\</h1>
    <form action="" method="post" data-fname="Search Engin">
        <div class="fill_column">
            <label for="product_search">Product: </label>
            <input type="text" name="product_search" id="product_search" required>
        </div>
        <button type="submit">Submit</button>
    </form>
    <div class="output" data-fname="Output"></div>
</body>
</html>