<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory System | {{version}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/colors.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/signup.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div class="main">
        <div class="welcome_image"></div>
        <div class="login_form">
            <h1><span class="material-symbols-outlined" style="margin-right: 5px;">person_add</span>Signup</h1>
            <p class="remind" style="margin-bottom: 5px;">You should create an account with a strong password</p>
            <form action="{{url_for('signup')}}"  method="post" onsubmit="return validateForm()">
                <div class="fill_column">
                    <input type="text" name="username" id="username" required>
                    <label for="username">User Name</label>
                </div>
                <div class="fill_column">
                    <input type="password" name="password" id="password" required>
                    <label for="password">Password</label>
                </div>
                <div class="fill_column">
                    <input type="password" name="password_confirm" id="password_confirm" required style="margin-bottom: 0;">
                    <label for="password_confirm">Password confirm</label>
                </div>
                <button type="submit"><span class="material-symbols-outlined">send</span>Submit</button>
            </form>
            <p>Already have an account? <a href="{{url_for('login')}}" style="color: var(--font-color);">Login</a></p>
        </div>
    </div>
    <div class="snapNoti">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{% autoescape false %}{{ message }}{% endautoescape %}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <p class="version">{{version}}_via_deployment_server</p>
    <script>
        function validateForm() {
            const newPassword = document.getElementById("password").value;
            const confirmPassword = document.getElementById("password_confirm").value;
            if (newPassword != '' && confirmPassword != ''){
                if (newPassword == confirmPassword) {
                    return true;
                } else {
                    return false;
                }
            } else {
                return false;
            }
        }

        document.addEventListener("contextmenu", function(event) {
            event.preventDefault();
        });
    </script>
</body>
</html>